#header{
    width: 100%;
    display: flex;
    padding-top: 17px;
    height: 77px;
}
body{
    font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    margin: 0;
}
.listheader{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 109px;
    font-weight: 600;
    font-size: medium;
}
.listdiv{
    width: 680px;
}
#imgheader{
    margin-left: 110px;
}
.firstlink{
    text-decoration: none;
    color: #1d2536;
}
.firstlink:hover{
text-decoration: underline;
}
#headerbutton{
    width: 92px;
    height: 38px;
    border-radius: 22px;
    background-color: unset;
    border-color: blue;
   
    cursor: pointer;
    margin-left: 48px;
}
#headerbutton2{
    width: 92px;
    height: 38px;
    border-radius: 22px;
    background-color:  #0070ba;
    border:none;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}
#headerbutton2:hover{
    background-color: #0d3685;
}

#firstsection{
    width: 100%;
    height: 589px;
    background-color: #0097E0;
    text-align: center;
    color: #fff;
    margin-top: -32px;
}
.firstsectiontext{
    font-size: 2.5rem;
    line-height: 3rem;
}
#buttonfirsrtsection{
    width: 300px;
    height: 45px;
    background-color: #fff;
    color: #0d3685;
    border: none;
    border-radius: 22px;
    font-weight: bolder;
    font-size: medium;
   cursor: pointer;
}
#firstsectionlastdiv{
    width: 100%;
    height: 150px;
    background-color: #02387b;
    margin-top: -5px;
    line-height: 4rem;
}
#firstsmalltext{
    font-size: x-large;
}
#fistsectionlastbutton{
    width: 155px;
    height: 35px;
    background-color: #fff;
    color: #0d3685;
    border: none;
    border-radius: 22px;
    font-weight: bolder;
    font-size: 11px;
    cursor: pointer;
}
.sectionsdivtwo{
    width: 100%;
    height: 500px;
    background-color:#fff;
    display: flex;
}
.innerdivsection{
    width: 50%;
    height: 400px;
    padding-top: 100px;
    padding-left: 129px;
    
    
}
.innerdivsectionthree{
    width: 50%;
    height: 450px; 
}
.sectionbutton{
    width: 300px;
    height: 45px;
    background-color:unset;
    color: #0d3685;
    border-radius: 22px;
    font-weight: bolder;
    font-size: medium;
    border: 1px solid;
    cursor: pointer;

}
.bigtext{
    font-size: 2.5rem;
    line-height: 3rem;
    color: steelblue;
    font-size: xx-large
}
.sectionsdivthree{
    width: 100%;
    height: 450px;
    background-color:aliceblue;
    display: flex;
}
.sectionimage2{
    margin-left: 200px;
    margin-top: 50px;
}
.sectionimage1{
    
    margin-top: 75px;
}
#checkout{
    width: 100%;
    height: 250px;
    background-color: #f5f7fa;
    text-align: center;
    padding-top: 20px;
}
.lastsection1{
    width: 100%;
    height: 360px;
    background-color: #00A8EA;
    text-align: center;
    padding-top: 20px;
}
#mainbox{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.boxdiv{
    width: 62px;
    height: 60px;
    border-radius: 10px;
    background-color: #fff;
    font-size:36px;
    font-family:PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif;
    text-align: center;
    font-weight: 900;
    padding-top: 9px;
}
#lastsection{
    width: 100%;
    height: 150px;
}
#footer{
    width: 100%;
    height: 250px;
}
#footerinnerdiv{
    width: 80%;
    margin-left: 120px;
   
    height: 190px;
}
#lastparagraph{
    margin-left: 50px;
    line-height: 30px;
    font-size: medium;
}
#footerlist1{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
}

.footerlink{
    display: flex;
    justify-content: space-between;
}
#hr{
    margin-top: -20px;
}
#footerlist2{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
    margin-top: unset;
}
.lastlinksup{
    text-decoration: none;
    font-weight: 600;
    font-size: smaller;
    
}
.lastlinks{
    text-decoration: none;
    font-weight: 600;
    font-size: smaller;
    color: slategrey;
}
.lastlinks:hover,.lastlinksup:hover{
    text-decoration: underline;
}
#lastlinknumber{
    font-weight: 600;
    font-size: smaller;
    color: slategrey;
}
.lastlinkspara{
   text-decoration: none;
}
.lastlinkspara:hover{
    text-decoration: underline;

}
#lastlinksparagrah{
    line-height: 30px;
}
#img{
    width: 25px;
    height: 18px;
}
#imgbutton{
    border: none;
    background: none;
    margin-top: 16px;
}